[tool.poetry]
name = "kyma-companion"
version = "0.1.0"
description = "Kyma Companion is AI Kyma assistant that helps you to manage your Kyma runtime"
authors = [
    "Muhammad Faizan m.faizan@sap.com",
    "Aleksei Chernyshov aleksei.chernyshov@sap.com",
    "Carina Kothe carina.kothe@sap.com",
    "Friedrich Wilken jens.wilken@sap.com",
    "Tibor Kiss tibor.kiss01@sap.com",
    "Marco Bebway marco.bebway@sap.com",
    "Piotr Bochynski piotr.bochynski@sap.com",
    "Mansur Uralov m.uralov@sap.com",
]
readme = "README.md"
packages = [{ include = "src" }]
license = "Apache-2.0"
package-mode = false

[tool.poetry.dependencies]
python = "~3.12"
# Add your production dependencies here
fastapi = "^0.111.0"
pytest = "^8.2.2"
langchain-community = "^0.2.6"
langchain-google-genai = "^1.0.7"
langchain-openai = "^0.1.14"
ai-core-sdk = "^2.3.11"
generative-ai-hub-sdk = "^3.2.6"
langfuse = "^2.39.1"
langgraph = "^0.2.5"
redis = "^5.0.8"
requests = "^2.32.3"
kubernetes = "^30.1.0"
langchain-experimental = "^0.0.64"
black = "^24.8.0"
langchain-redis = "^0.0.4"
langchain-aws = "^0.1.17"
langchain-google-vertexai = "^1.0.8"
tiktoken = "^0.7.0"
python-decouple = "^3.8"

[tool.poetry.group.test.dependencies]
pytest = "^8.2.2"
pytest-mock = "^3.14.0"
pytest-asyncio = "^0.23.7"
fakeredis = "^2.23.3"
pyyaml = "^6.0.1"
types-pyyaml = "^6.0.12.20240311"
prettytable = "^3.10.2"
termcolor = "^2.4.0"
pytest-dotenv = "^0.5.2"
deepeval = "^1.3.7"

[tool.poetry.group.dev.dependencies]
ruff = "v0.4.10"
flake8-bugbear = "^24.4.26"
poethepoet = "^0.27.0"
langfuse = "^2.38.0"
mypy = "^1.10.1"
flake8 = "^7.1.0"
black = "^24.4.2"
types-requests = "^2.32.0.20240712"
ipython = "^8.26.0"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra"
pythonpath = [
    "src"
]
testpaths = [
    "tests",
]
env_files = [
    ".test.env"
]

[tool.poe.tasks]
lint = "ruff check ."
typecheck = "mypy . --pretty"
format = "black . --check"
codecheck = ["lint", "typecheck", "format"]
format-fix = "black ."
lint-fix = "ruff check . --fix"
code-fix = ["format-fix", "lint-fix"]
test = "pytest tests/unit"
test-int = "pytest tests/integration"
run = "fastapi run src/main.py --port 8000"
run-local = "fastapi dev src/main.py --port 8000"
pre-commit-check = ["code-fix", "codecheck", "test"]

[tool.mypy]
check_untyped_defs = true
warn_return_any = true
show_error_codes = true
warn_unused_ignores = true
disallow_untyped_defs = false
disallow_any_expr = false
ignore_missing_imports = true
show_column_numbers = true
allow_redefinition = true
disable_error_code = ["union-attr"]

# Exclude specific files or directories
exclude = [
    'tests',
    'scripts'
]
