name: Push Build Image for Indexer

on:
  push:
    branches:
      - "main"
      - "release-*"
    paths-ignore:
      - ".github/**"
      - ".reuse/**"
      - "LICENSES/**"
      - "config/**"
      - "data/**"
      - "docs/**"
      - "scripts/**"
      - "tests/**"
      - "**/*.md"
      - "src/**"
      - "doc_indexer/.vscode/**"
      - "doc_indexer/tests/**"
      - CODEOWNERS
      - LICENSE
      - "sec-scanners-config.yaml"
      - "pyproject.toml"
      - "poetry.lock"
      - "renovate.json"
      - ".gitignore"
      - external-images.yaml

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  compute-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.get_tag.outputs.TAGS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get the latest tag
        id: get_tag
        run: |
          {
            echo 'TAGS<<EOF'
            echo "${{ github.sha }}"
            echo "${{ github.ref_name}}"
            echo EOF
          } >> "$GITHUB_OUTPUT"
  build:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: kyma-companion-indexer
      dockerfile: Dockerfile
      context: ./doc_indexer
      tags: ${{ needs.compute-tags.outputs.tags }}
      platforms: |
        linux/amd64
